input {
  background-color: #caeaff;
  color: #7072ac;
  border: none;
  outline: none;
  padding: 1em;
  width: 300px;
  
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}