.img-items-details {
  background: #8af4cf;
  width: 290px;
  height: 470px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

/* .back-link {
  width: 145px;
  text-decoration: none;
  margin: auto;
} */

img {
  width: 100%;
  height: auto;
}

.robot-info {
  text-align: center;
}

.name {
  font-weight: bold;
  line-height: 0;
}

.email {
  font-size: 10px;
}

h5{
  margin: auto;
}