* {
  font-family: "", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #00817f 0%, #170055 99.84%);
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
} 

.list-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
}

.container {
   justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
}
